{% load static %}

{% block content %}

<style>


  .soon {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
  }
  
  .soon:hover {
    background: linear-gradient(90deg, #feb47b, #ff7e5f);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    color: black;
  }
  
  .btns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .carousel-item a img {
    height: 500px;
  }

  

  .carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
  }

  .carousel-caption h2 {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .carousel-caption .soon {
    font-size: 1.2rem;
    padding: 12px 25px;
  }

  @media (max-width: 768px) {
    .carousel-item a img {
      height: 300px;
    }

    .carousel-caption h2 {
      font-size: 1rem;
      color: white;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .carousel-caption .soon {
      font-size: 0.8rem;
      padding: 12px 25px;
    }


  }

  @media (max-width: 480px) {
    .carousel-item a img {
      height: 250px;
    }

    .carousel-caption h2 {
      font-size: 1rem;
      color: white;
      font-weight: bold;
      margin-bottom: 10px;
    }
  
    .carousel-caption .soon {
      font-size: 0.6rem;
      padding: 12px 25px;
    }


  }


</style>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <a href="">
        <img src="{% static 'core/image/Hollywood/assassination-nation.webp' %}" class="d-block w-100" alt="...">
      </a>
      <div class="carousel-caption">
        <h2>Assassination Nation</h2>
        <a href="" class="btns">
          <button type="button" class="soon">Coming Soon</button>
        </a>
      </div>
    </div>

    <div class="carousel-item">
      <a href="">
        <img src="{% static 'core/image/Hollywood/mortal-kombat.jpg' %}" class="d-block w-100" alt="...">
      </a>
      <div class="carousel-caption">
        <h2>Mortal Kombat</h2>
        <a href="" class="btns">
          <button type="button" class="soon">Coming Soon</button>
        </a>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock content %}
