{% extends "core/base.html" %}

{% block title %} Subscription {% endblock title %}

{% block content %}

<style>

  main {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    font-family: Arial, sans-serif;
    color: #000;
  }

  .subscription-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    flex: 1;
    margin: 0 10px;
  }

  .subscription-card:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
  }

  .btn-subscribe {
    background-color: #007bff;
    color: #fff;
    border-radius: 20px;
  }

  .btn-subscribe:hover {
    background-color: #0056b3;
    color: #fff;
  }

  .subscription-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }


  .message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    padding: 15px 20px;
    max-width: 600px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    color: #721c24;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message-container span {
    display: inline-block;
    margin: 5px 0;
    line-height: 1.5;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 100%;
  }
}



</style>

<main>

  {% if messages %}
    <div class="alert alert-danger message-container">
        {% for message in messages %}
            <span>{{ message }}</span>
        {% endfor %}
    </div>
  {% endif %}

  <div class="container mt-5">
    <div class="text-center mb-4">
      <h1 class="display-5" style="color: white;">Subscribe now and start streaming</h1>
      <p class="text" style="color: white;">Choose the plan that’s right for you</p>
    </div>

    <div class="subscription-row">
      {% csrf_token %}
      {% for plan in plans %}
      <div class="card subscription-card p-4 text-center">
        <h3 class="card-title">{{ plan.name }}</h3>
        <h4 class="text-primary">₹ {{ plan.price }} <small>/ {{ plan.duration }} Days</small></h4>
        <p class="text-muted">{{ plan.description }}</p>
        <ul class="list-unstyled">
          <li><i class="fas fa-check-circle text-success"></i> {{ plan.detail1 }}</li>
          <li><i class="fas fa-check-circle text-success"></i> {{ plan.detail2 }}</li>
          <li><i class="fas fa-check-circle text-success"></i> {{ plan.detail3 }}</li>
        </ul>
       
        <a href="{% url 'payment' %}?plan_id={{ plan.id }}" class="btn btn-subscribe mt-3">Subscribe</a>
      </div>
      {% endfor %}
    </div>
  </div>
  <br>
</main>

{% endblock content %}
